.home-container {
    width: 100%;
    height: 100%; 
    margin-top: .5em;
    transform-style: preserve-3d;
    transition: .25s;
}

.home-content {
    display: flex;
}

@media screen and (max-width: 400px){
    .home-container {
        margin-top: 0;
    }
}